<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protected</title>
</head>
<body>
    <a href="/student/logout">Logout</a>
    <br>
    <a href="/student/documents">Upload All Documents</a>
    <br>
    <p>You are in Protected route</p>
</body>
</html>