
#btnCol{
    background-color: #bf360c;
    align-items: center;
}

#btnCol:hover{
    background-color: #445c5f;
    border-left-color: transparent;
    border-right-color: transparent;
}

.profileField ul{
    margin-left: 4.5rem
}

.profileField ul li a{
    color: #bf360c; font-weight: bold;
}